*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.main-title{
    font-size: 48px;
    text-align: center;
    padding: 10px;
}
#button-container{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.grid-button{
    padding: 10px 20px;
    border: none;
    font-size: 24px;
    font-weight: 700;
    background-color: #78ff6e;
    border: 2px solid black;
    border-radius: 5px;
}
#container{
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
}
.grid{
    flex: 1;
    display: flex;
    outline: 1px solid;
    height: auto;
}
.square{
    flex: 1;
    height: 50px;
    outline: 1px solid;
}
.colored{
    background-color: black;
}