*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#container{
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
}
.grid{
    flex: 1;
    display: flex;
    border: 1px solid black;
    height: auto;
}
.square{
    flex: 1;
    height: 50px;
    border: 1px solid black;
}